.add-employee-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  max-width: 90ch;
  margin: 0 auto;

  .submit{
    padding: 0.25rem;
    grid-column: 1 / 2;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  input,
  select {
    flex: 1;
    max-width: 125px;
  }
}

input, select{
    padding: 0.25rem 0.5rem;
}