include includes/head.pug
.cards
  each employee in employees
    .card
      img(src="")
      b= employee.name
      each key in Object.keys(employee)
        if key !== "name"
          .row 
            span= key
            span= employee[key]


